static/* linguist-vendored

Numerical-methods-in-Matlab/Bisection_for_function_zeros.m linguist-language=matlab
Numerical-methods-in-Matlab/LU_decomposition_with_direct_and_reverse_insertion.m linguist-language=matlab
Numerical-methods-in-Matlab/LU_decomposition_with_pivoting.m linguist-language=matlab
Numerical-methods-in-Matlab/Newton_method_for_finding_function_intersections.m linguist-language=matlab
Numerical-methods-in-Matlab/Secant_method_for_function_zeros.m linguist-language=matlab
Numerical-methods-in-Matlab/Tangent_method_for_function_zeros.m linguist-language=matlab
Numerical-methods-in-Matlab/Tridiagonal_insertion_for_LU_decomposition.m linguist-language=matlab
Numerical-methods-in-Matlab/Cholesky_decomposition_for_tridiagonal_symetric_positive_definite_matrix.m linguist-language=matlab
